body {
  margin: 0;
  background-color: #21242d;
  color: aliceblue;
}
h1 {
  font-size: 45px;
}

header {
  height: 80px;
  padding-left: 30px;
  padding-right: 30px;
  background-color: #181a1b;
  color: aliceblue;
  display: flex;
}

.header-nav {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

li {
  list-style: none;
}
ul {
  display: flex;
}

.nav-ul-list {
  padding: 0;
  margin: 0;
  height: 100%;
  align-items: center;
}
.nav-link-style {
  margin-left: 20px;
}
